.banner-container {
    width: 1500px;
    height: 500px;
    background-color: orange;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.banner-container img {
    width: 40%;
}